# ==========================================================================
# ANJPT OS - GIT IGNORE CONFIG
# ==========================================================================

# Salidas de compilación (Nunca subir el código compilado)
/dist
/tmp
/out-tsc
/bazel-out

# Dependencias de Node (Pesadísimas, se instalan con npm install)
/node_modules
npm-debug.log
yarn-error.log

# Configuración de IDEs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Archivos específicos de Angular
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# SEGURIDAD: Credenciales y Variables de Entorno
.env
src/environments/environment.ts
src/environments/environment.development.ts

# Archivos de sistema
.DS_Store
Thumbs.db