<div class="proyectos-container">
  
  <div class="page-header">
    <div class="header-info">
      <h2>PROYECTOS ACTIVOS</h2>
      <p>PANEL DE CONTROL GENERAL · ACCESO NIVEL 2+</p>
    </div>
    
    <button class="btn-neon" *ngIf="rolUsuario === 'SENIOR' || rolUsuario === 'ADMIN'" (click)="toggleFormulario()">
      {{ mostrarFormulario ? 'CANCELAR' : '+ NUEVO PROYECTO' }}
    </button>
  </div>

  <div class="formulario-box" *ngIf="mostrarFormulario">
    <h3>CREAR NUEVO PROYECTO</h3>

 <div class="form-group-1">
  <label>Nombre del proyecto <span class="req">*</span></label>
  <input type="text" [(ngModel)]="nuevoProyecto.nombre" required placeholder="Ej: App Móvil iOS">
</div>

    <div class="form-group-1">
        <label>Descripción corta</label>
        <textarea [(ngModel)]="nuevoProyecto.descripcion" rows="3" placeholder="¿De qué trata este proyecto?"></textarea>
    </div>

    <div class="form-group-1">
        <label>Tech Stack (Separado por comas)</label>
        <input type="text" [(ngModel)]="nuevoProyecto.stack" placeholder="Ej: Angular 19, Supabase, Tailwind">
    </div>

    <button class="btn-neon btn-guardar-proyecto" 
        [disabled]="!nuevoProyecto.nombre || guardandoProyecto" 
        (click)="crearProyecto()">
        {{ guardandoProyecto ? 'GUARDANDO...' : 'GUARDAR PROYECTO' }}
    </button>
  </div>

  <div class="proyectos-grid">
    <div class="proyecto-card" *ngFor="let p of proyectos" [routerLink]="['/proyectos', p.id]" style="cursor: pointer;">
      <div class="card-header">
        <h3>{{ p.nombre }}</h3>
        <span class="badge">{{ p.estado }}</span>
      </div>
      <div class="card-body">
        <p class="tareas-info">Tareas pendientes: <strong>{{ p.tareasPendientes || 0 }}</strong></p>
        <div class="barra-progreso-bg">
          <div class="barra-progreso-fill" [style.width.%]="p.progreso"></div>
        </div>
        <p class="progreso-texto">{{ p.progreso }}% COMPLETADO</p>
      </div>
      <div class="card-footer">
        <button class="btn-outline" *ngIf="rolUsuario === 'SENIOR' || rolUsuario === 'ADMIN'">GESTIONAR TAREAS</button>
      </div>
    </div>
  </div>

</div>