<div class="login-layout">
  <div class="login-card">
    
    <div class="login-header">
      <lucide-icon [name]="IconTerminal" class="header-icon"></lucide-icon>
      <div class="header-text">
        <h1>ANJPT OS</h1>
        <span class="subtitulo">SISTEMA DE GESTIÓN // ACCESO RESTRINGIDO</span>
      </div>
    </div>

    <form (submit)="onLogin($event)" class="login-form">
      
      <div class="form-group">
        <label>IDENTIFICACIÓN DE USUARIO (EMAIL)</label>
        <div class="input-with-icon">
          <lucide-icon [name]="IconMail" class="input-icon"></lucide-icon>
          <input type="email" [(ngModel)]="email" name="email" placeholder="usuario@anjpt.os" required>
        </div>
      </div>

      <div class="form-group">
        <label>CLAVE DE ACCESO</label>
        <div class="input-with-icon">
          <lucide-icon [name]="IconKey" class="input-icon"></lucide-icon>
          <input type="password" [(ngModel)]="password" name="password" placeholder="••••••••" required>
        </div>
      </div>

      <button type="submit" class="btn-neon-lime" [disabled]="loading">
        {{ loading ? 'VERIFICANDO CREDENCIALES...' : 'INICIAR SESIÓN' }}
      </button>

    </form>

    <div class="login-footer">
      <span>¿No tienes autorización?</span>
      <a routerLink="/register" class="link-lime">Solicitar registro oficial</a>
    </div>

  </div>
</div>