<div class="app-layout">
  
  <aside *ngIf="router.url !== '/login' && router.url !== '/register'" class="sidebar">
    
    <div class="logo-container">
      <h2><span class="logo-box">A</span>ANJPT OS</h2>
    </div>

    <nav class="menu-links">
    <a routerLink="/home" routerLinkActive="activo">
      <lucide-icon [name]="HomeIcon" class="nav-icon"></lucide-icon> HOME
    </a>
    <a routerLink="/mis-tareas" routerLinkActive="activo">
      <lucide-icon [name]="TaskIcon" class="nav-icon"></lucide-icon> MIS TAREAS
    </a>
    <a routerLink="/proyectos" routerLinkActive="activo">
      <lucide-icon [name]="ProjectIcon" class="nav-icon"></lucide-icon> PROYECTOS
    </a>
    <a routerLink="/metricas" routerLinkActive="activo">
      <lucide-icon [name]="ChartIcon" class="nav-icon"></lucide-icon> MÉTRICAS
    </a>
    <a routerLink="/ajustes" routerLinkActive="activo">
      <lucide-icon [name]="SettingsIcon" class="nav-icon"></lucide-icon> AJUSTES
    </a>
  </nav>

    <div class="sidebar-footer">
      <div class="rol-box">
        <p>SISTEMA // ROL ACTUAL</p>
        <strong>{{ rolUsuario }}</strong>
      </div>
      <button class="btn-salir" (click)="logout()">
      <lucide-icon [name]="LogOutIcon" class="nav-icon"></lucide-icon> SALIR
    </button>
    </div>

  </aside> 
  <main>
    <router-outlet></router-outlet>
  </main>

</div>